.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

Thumbs.db
/run
/out
/gradle
/eclipse
/build
/.gradle
gradlew
gradlew.bat
gradle.properties
*.iml
*.ipr
*.iws
*.iml
/bin
.classpath
.project
/.settings
*.launch
